@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
}

#toast-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: max-content;
    background: gray;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-container .slide {
    background-color: rgba(0,0,0,0.3);
    height: 93vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    cursor: grab;
}

.hero-container .slide-1 {
    background-image: url(assets/hiking-forest.jpg);
}

.hero-container .slide-2 {
    background-image: url(assets/hiking-snow.jpg);
}

.hero-container .slide-3 {
    background-image: url(assets/hiking-two.jpg);
    
}

.swiper {
    --swiper-theme-color: white;
}

#policies .swiper {
    --swiper-navigation-size: 17px;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 17px !important;
    background: white !important;
    border-radius: 0 !important;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.auth-page {
    background-image: url(assets/hiking-forest.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .arrow-down {
        @apply w-1.5 h-1.5 border border-gray-300 ml-1 border-t-0 border-r-2 border-b-2 border-l-0 inline-block p-0 rotate-45 -translate-y-1 group-hover:-translate-y-2 group-hover:border-sky-300 transform transition
    }

    .product-showcase-title {
        @apply text-3xl italic text-gray-900 font-semibold text-center mt-7 uppercase
    }

    .card {
        @apply hover:shadow-2xl hover:border hover:border-gray-200 hover:-translate-y-1 transition duration-300
    }

    .form-group {
        @apply flex flex-col
    }

    .form-label {
        @apply text-white font-semibold
    }

    .form-input {
        @apply text-white py-1 px-2 outline-none border-b border-white bg-transparent focus:border-b-2 transform transition placeholder:text-base
    }

    .submit-btn {
        @apply py-3 px-2 text-center bg-emerald-500 text-gray-900 rounded-md w-full font-semibold active:bg-emerald-600 hover:bg-emerald-400 hover:-translate-y-1 transform transition disabled:bg-gray-200 disabled:text-gray-700 disabled:pointer-events-none
    }

    .auth-btn {
        @apply text-gray-100 py-2 px-3 border border-gray-100 rounded-md hover:bg-gray-100 hover:text-gray-900 hover:-translate-y-1 hover:shadow-lg transform transition
    }

    .error-alert {
        @apply py-2 px-3 font-semibold text-sm bg-red-300 text-red-600 mb-5 rounded-sm
    }

    .success-alert {
        @apply py-2 px-3 font-semibold text-sm bg-green-300 text-green-600 mb-5 rounded-sm
    }
}
