@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.hero-container .slide {
    background-color: rgba(0,0,0,0.3);
    height: 93vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    cursor: grab;
}

.hero-container .slide-1 {
    background-image: url(assets/hiking-forest.jpg);
}

.hero-container .slide-2 {
    background-image: url(assets/hiking-snow.jpg);
}

.hero-container .slide-3 {
    background-image: url(assets/hiking-two.jpg);
    
}

.swiper {
    --swiper-theme-color: white;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 17px !important;
    background: white !important;
    border-radius: 0 !important;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .arrow-down {
        @apply w-1.5 h-1.5 border border-gray-300 ml-1 border-t-0 border-r-2 border-b-2 border-l-0 inline-block p-0 rotate-45 -translate-y-1 group-hover:-translate-y-2 group-hover:border-sky-300 transform transition
    }

    .product-showcase-title {
        @apply text-3xl italic text-gray-900 font-semibold text-center mt-7 uppercase
    }

    .card {
        @apply hover:shadow-2xl hover:border hover:border-gray-200 hover:-translate-y-1 transition duration-300
    }
}
